/* Slideshow container */
.carousel {
	position: relative;
}
/* Make the images invisible by default */
.slides-container {
	display: none;
	height: 400px;
	background-color: black;
	text-align: center;
}
.slides-container img {
	width: 100%;
	max-width: 1000px;
	height: inherit;
	object-fit: fill;
}
.caption {
	position: absolute;
	bottom: 0;
	color: white;
}
.back, .forward {
	position: absolute;
	top: 40%;
	color: white;
	width: auto;
	font-weight: bold;
	font-size: 25px;
	padding: 17px;
	transition: 0.2s ease;
	cursor:pointer;
}
.forward{
	right: 0;
}
.back:hover, .forward:hover {
	color: #bbbbbb;
	background-color: rgba(0,0,0,0.7);
}
.feature-wrapper {
	margin: 0 auto; 
	width: 90%;
	min-width: 800px;
	max-width: 1000px;
	background:#a19f9c;
}
.feature-flex-container {
	display: flex;
	justify-content: space-evenly;
}
.feature-flex-item {
	margin: 10px;
}
.feature-flex-item img {
	width: 180px;
	height: 250px;
	object-fit: fill;
	transition: 0.2s ease;
}
.feature-flex-item img:hover {
	box-shadow: 8px 8px 10px grey;
}
.feature-flex-item p {
	text-align: center; 
	margin: 0;
}
.feature-flex-item a {
	text-decoration: none;
	color:#000000;
}