.container {
	display: flex;
	align-items: stretch;
}

body {
	margin: 0;
}

nav {
	position: fixed;
	float: left;
	width: 80px;
	height: 100vh;
	background-color: #a19f9c;
	text-align: center;
	display: flex;
	flex-direction: column;
}

nav a {
	padding-top: 1em;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	flex-grow: 1;
}

nav a p {
	margin: 0;
	font-size: 0.8em;
	color: #000000;
}

#rightcol {
	flex: 1;
	margin-left: 80px;
}

#footflex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #696969;
	color: #ffffff;
}

.footercol {
	padding: 10px;
	text-align: center;
}

#headflex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #696969;
	color: #ffffff;
}

#headcol {
	flex-grow: 3;
	padding-left: 10px;
}

#headicons {
	flex-grow: 1;
	text-align: center;
}

#shortlogin {
	flex-grow: 1;
	text-align: center;
}

#contents {
	min-height: calc(100vh - 135px);
}
